@font-face {
    font-family: 'InterDisplay';
    src: url('fonts/InterDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #16160E;
    color: #C8C2BE;
    margin: 10px 20px;
    font-family: 'InterDisplay', sans-serif;
    font-size: 14px;
}

.left {
    width: 98px;
    margin-right: 10px;
}

.right {
    width: 217px;
}

.left p,
.right p,
.intro p {
    margin: 0;
}

.container {
    width: 453px;
    margin: 0px;
}

.intro {
    width: 100%;
    margin-bottom: 20px;
}

.box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.right a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}